################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/HomeSeerSamplePlugin/v16
/obj
/bin/Debug
*.user
